<div class="space">

</div>

<h1 id="contact-text"> Contact Me </h1>

<form class="form" method="post" action="/contact">
  <label for="name-input"> Name </label>
  <input id="name-input" type="text" placeholder="Your Name"
      name="name" />
  <br />

  <label for="email-input"> Email </label>
  <input id="email-input" type="email"
      placeholder="Your Email" name="email" />
  <br />

  <label for="phone-input"> Phone </label>
  <input id="phone-input" type="text"
      placeholder="Phone Number(optional)" name="phone" />
  <br />

  <label for="message-input"> Message </label>
  <textarea id="message-input" placeholder="Type your message here..."
    name="message" ></textarea>
  <br />

  <button> Submit </button>
</form>

<div class="space-contact">

</div>
