<div class="space">

</div>

<h1 id="contact-text"> Contact Me </h1>


  <form class="form" method="post" action="/contact">

    <input id="name-input" type="text" placeholder="Your Name"
        name="name" />

    <input id="email-input" type="email"
        placeholder="Your Email" name="email" />

    <input id="phone-input" type="text"
        placeholder="Phone Number(optional)" name="phone" />

    <textarea id="message-input" placeholder="Type your message here..."
      name="message" ></textarea>


    <button> Submit </button>
  </form>


<div class="space-contact">

</div>
