<div class="index">
  <div class="index-left">
    <img  id="profile-pic" src="images/portfolio.jpg" alt=""/>
  </div>
  <div class="index-right">
    <h1>Jesus Bordones</h1>
    <h3>Web Developer</h3>
    <p> Hello I am Jesus Bordones Full Stack Web Developer from Venezuela.
      Graduate from <a id="ironhack" href="https://www.ironhack.com">Ironhack</a>
       Web Development Bootcamp Bootcamp in Miami seeking an opportunity
      to contribute to a great team and cultivate my skills further.</p>
    <a href="#" class="contact-me"><i class="icon-paper-plane"></i> Contact Me </a>
  </div>

</div>
