<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <nav>
        <a href="/"><img id="logo" src="images/code-icon.png" /></a>
        <a href="/">PROFILE</a>
        <a href="/skills">SKILLS</a>
        <a href="/work">WORK</a>
        <a href="resume">RESUME</a>
      </nav>
    </header>
    <div class="content">

    <%- body %>

    </div>
    <footer>
      <a href="https://www.linkedin.com/in/jabordones/">linkedin.com/jabordones</a>
      <a>CONTACT</a>
    </footer>
  </body>
</html>
