<div class="space">

</div>

<div class="index">
  <div class="index-left">
    <img  id="profile-pic" src="images/portfolio.jpg" alt=""/>
  </div>
  <div class="index-right">
    <h1>Jesus Bordones</h1>
    <p> Thank You for your time, your message has been sent. I will contact you
      as soon as possible. Have a good day! </p>

  </div>
</div>

<div class="space-profile">

</div>
