* {
  margin: 0;
  font-family: "Droid Sans", sans-serif;
}
a {
  color:white;
  text-decoration: none;
}

header {
  display: flex;
  background-color: rgb(223,86,80);
  height: 100px;
  align-items: center;
}

nav {
  margin: 0 auto;
  width: 800px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 70px;
  border-radius: 100px;
  border: 5px solid white;
}

footer {
  background: rgb(68,68,68);
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.content {
  background: rgb(37,55,70);
}



footer a {
  text-decoration: none;
}

/* ----------- Layout ---------- */

/* ----------- Profile --------- */

.index {
  margin: 0 auto;
  padding-top: 80px;
  width: 800px;
  display: flex;
  flex-flow: row;
  justify-content:center;
}

#profile-pic {
	border-radius: 250px;
}

a.contact-me {
	display: inline-block;
 *display: inline;
	padding:20px 60px;
	background:#39d084;
	color:#fff;
	text-transform:uppercase;
	font-size:20px;
	margin:20px 0;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
a.contact-me:hover {
	text-decoration:none;
	background:#11d170;
}

.index-right {
  margin-left: 30px;
}

.index p, .index h3 {
  color:#fff;
  margin: 10px 0;
  line-height: 30px;
}

.index h1 {
  color: #39d084;
  margin: 15px 0;
  font-weight: 100;
}

.space-profile {
  height: 230px;
}

/* ----------- Profile ------------- */

/* ----------- Skills -------------- */

.skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 80%;
  margin: 40px auto;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  color: white;
  margin: 20px 40px;
}

.circle-text {
  margin-top: 80px;
  text-align: center;
  font-size: 2em;
}

.html{
  background-color: #54C6EB;
}

.css {
  background-color: #FF686B;
}

.javascript {
  background-color: #048A81;
}

.angular {
  background-color: #8A89C0;
}

.express {
  background-color: #AE76A6;
}

.mongo {
  background-color: #001C55;
}

.node {
  background-color: #8A817C;
}

.ajax {
  background-color: #D05C1E;
}

.git {
  background-color: #526B65;
}

.jquery{
  background-color: #96E22B;
}

.space-skills {
  height: 50px;
}

/* ----------- Skills -------------- */

/* ----------- Work ---------------- */

.personal {
  text-align: center;
  font-size: 2.5em;
  color: #39d084;
}

.space {
  height: 50px;
}

.container {
  margin-top: 30px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.work {
  width: 30%;
  text-align: center;
  color: white;
}

.work img {
  margin-top: 20px;
  width: 90%;
}

.space-work {
  height: 250px;
}

/* ----------- Work ---------------- */

.space-resume {
  height: 50px;
}

/* ------------ Contact ------------- */

#contact-text {
  text-align: center;
  color: #39d084;
  margin-bottom: 10px;
}

#form {
  margin: 0 auto;
  width: 380px;
}

#form label {
  color: #FFF;
  display: inline-block;
  margin-top: 18px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
}

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
}

#form h3 {
  text-align: center;
}

textarea {
  width: 370px;
  height: 200px;
  margin-bottom: 20px;
  padding: 5px;
}

.space-contact {
  height: 50px;
}

/* .error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
} */

/* ------------ Contact ------------- */

/* ----------- Working ------------- */

.working {
  padding-top: 50px;
  margin: 0 auto;
  padding-right: 100px;
  width: 400px;
}

.working h1 {
  color: white;
  text-align: center;
}
/* --------------------------------- */
