* {
  margin: 0;
  font-family: "Droid Sans", sans-serif;
}

body {
  background: rgb(37,55,70);
}

a {
  color:white;
  text-decoration: none;
}

header {
  background-color: rgb(223,86,80);
  display: flex;
  align-items: center;
}

nav {
  float: right;
  margin: 0px auto;
  width: 55%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  line-height: 20px;
}

nav a:hover {
  font-weight: 600;
}

.current {
  color: #11d170;
}

.resp-nav {
  background-color: rgb(223,86,80);
  display: none;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.resp-nav a{
  margin: 10px;
}

.hamburger {
  display: none;
  margin-right: 50px;
  cursor: pointer;
}

.hamburger-bar {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

#logo {
  margin: 10px 30px;
  width: 70px;
  border-radius: 100px;
  border: 5px solid white;
}


footer {
  background: rgb(68,68,68);
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
}

/* .content {
  background: rgb(37,55,70);
} */



footer a {
  text-decoration: none;
}

footer a:hover {
  font-weight: 600;
}

#contact {
  cursor: pointer;
}

/* ----------- Layout ---------- */

/* ----------- Profile --------- */

.index {
  margin: 0 auto;
  padding-top: 80px;
  width: 55%;
  display: flex;
  flex-flow: row;
  justify-content:center;
}

#profile-pic {
	border-radius: 250px;
}

a.contact-me {
	display: inline-block;
	padding:20px 60px;
	background:#11d170;
	color:#fff;
	text-transform:uppercase;
	font-size:20px;
	margin:20px 0;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
a.contact-me:hover {
	text-decoration:none;
	background:white;
  color: #11d170;
}

.index-right {
  margin-left: 30px;
}

.index p, .index h3 {
  color:#fff;
  margin: 10px 0;
  line-height: 30px;
}

.index h1 {
  color: #39d084;
  margin: 15px 0;
  font-weight: 100;
}

.space-profile {
  height: 230px;
}

/* ----------- Profile ------------- */

/* ----------- Skills -------------- */

.skills {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 40px auto;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  color: white;
  margin: 20px 40px;
}

.circle-text {
  margin-top: 80px;
  text-align: center;
  font-size: 2em;
}

.html{
  background-color: #54C6EB;
}

.css {
  background-color: #FF686B;
}

.javascript {
  background-color: #048A81;
}

.angular {
  background-color: #8A89C0;
}

.express {
  background-color: #AE76A6;
}

.mongo {
  background-color: #001C55;
}

.node {
  background-color: #8A817C;
}

.ajax {
  background-color: #D05C1E;
}

.git {
  background-color: #526B65;
}

.jquery{
  background-color: #96E22B;
}

.space-skills {
  height: 50px;
}

/* ----------- Skills -------------- */

/* ----------- Work ---------------- */

.personal {
  text-align: center;
  font-size: 2.5em;
  color: #39d084;
}

.space {
  height: 50px;
}

.container {
  margin-top: 30px;
  display: flex;
  flex-flow: row-wrap;
  justify-content: space-around;
}

.work {
  width: 30%;
  text-align: center;
  color: white;
}

.work img {
  margin-top: 20px;
  width: 90%;
}

.work img:hover {
  width: 100%;
}

.space-work {
  height: 250px;
}

/* ----------- Work ---------------- */

.space-resume {
  height: 250px;
}

/* ------------ Contact ------------- */

#contact-text {
  text-align: center;
  color: #39d084;
  margin-bottom: 10px;
  margin-top: 30px;
}

.form-div {
  margin-top: 20px;
}

.form input {
  display: block;
  margin: 20px auto;
  text-align: center;
  width: 30%;
  background-color: #43515B;
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: white;
}



.space-contact {
  height: 200px;
}

textarea {
  display: block;
  margin: 0 auto;
  background-color: #43515B;
  border: none;
  border-radius: 20px;
  width: 31%;
  height: 80px;
  padding-top: 8px;
  padding-left: 8px;
}

.form button {
  display: block;
  margin: 0 auto;
  color: white;
  width: 10%;
  padding: 8px;
  border-radius: 20px;
  margin-top: 20px;
  background-color: #39d084;
  border: none;
  cursor: pointer;
}

.form button:hover {
  background-color: white;
  color: #39d084;
}



/* .error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
} */

/* ------------ Contact ------------- */

/* ----------- Messages ------------- */


/* ----------- Messages ------------- */

/* ----------- Working ------------- */

.working {
  padding-top: 50px;
  margin: 0 auto;
  padding-right: 100px;
  width: 400px;
}

.working h1 {
  color: white;
  text-align: center;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
  display: none;
}
/* --------------------------------- */

.resume {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.resume h1 {
  color: #39d084;
  font-size: 2.5em;
  margin-bottom: 50px;
  margin-top: 30px;
}

.resume p {
  font-size: 1.5em;
  color: white;
  margin-bottom: 50px;
}

.resume a {
  background-color: #39d084;
  padding: 20px 40px;
  border-radius: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.size {
  text-align: center;
}

.download {
  display: block;
  text-align: center;

}

.download a:hover {
  background-color: white;
  color: #39d084;
}



/* ---------- Media Queries -------- */


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-device-width : 480px) {

  header {
    justify-content: space-between;
  }

  .hamburger {
    display:inline;
  }

  .index {
    flex-flow: column;
    width: 93%;
    align-items: center;
    margin-right:  20px;
  }

  .index h1, .index h3 {
    text-align: center;
  }

  #profile-pic {
    width: 200px;
  }

  nav {
    display: none;
  }

  .index-right {
    text-align: center;
  }


  .resp-nav-on {
    display: flex;
  }


  .space-profile {
    height: 100px;
  }
/* -------- Skills ------- */

.skills {
  width: 99%;
  justify-content: center;
}

/* -------- Skills ------- */

/* ----------- Work ---------------- */

.container {
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.work {
  width: 80%;
  margin-bottom: 50px;
}
/* ----------- Work ---------------- */

/* ----------- contact ------------- */

.form input {
  width: 70%;
}

textarea {
  width: 70%;
}

.form button {
  width: 40%;
}

.space-contact {
  height: 60px;
}

/* ----------- contact ------------- */

.resume {
  width: 80%;
}

.space-resume {
  height: 100px;
}

}

@media only screen
and (min-device-width : 481px)
and (max-device-width : 768px) {

.index {
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  text-align: center;
  }

  /* ----------- contact ------------- */

  .form input {
    width: 50%;
  }

  textarea {
    width: 50%;
  }

  .form button {
    width: 30%;
  }

  .space-contact {
    height: 60px;
  }

  /* ----------- contact ------------- */

}



/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  .skills {
    width: 100%;
  }
}

/* iPads (landscape) ----------- */



/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}
