
<form class="form" method="post" action="/process-login">

    <div class="form-group">
      <label for="email-input"> Email </label>
      <input id="email-input" type="email" placeholder="e.g. tyrion@casterly.rock"
        name="loginEmail" class="form-control col-sm-5">
      <br />
    </div>

    <div class="form-group">
      <label for="password-input"> Password </label>
      <input id="password-input" type="password" placeholder="e.g. winewinewine"
        name="loginPassword" class="form-control col-sm-5" />
      <br />
    </div>


  <button> Log In </button>
</form>


<div class="space-profile">

</div>
