<form id="form" method="post" action="/process-login">

    <div class="form-group">
      <label for="email-input"> Email </label>
      <input id="email-input" type="email" placeholder="e.g. tyrion@casterly.rock"
        name="loginEmail" class="form-control col-sm-5">
      <br />
    </div>

    <div class="form-group">
      <label for="password-input"> Password </label>
      <input id="password-input" type="password" placeholder="e.g. winewinewine"
        name="loginPassword" class="form-control col-sm-5" />
      <br />
    </div>


  <button> Log In </button>
</form>




<form id="form" method="post" action="/process-signup" />
    <label for="full-name-input"> Full Name </label>
    <input id="full-name-input" type="text" placeholder="e.g. Tyrion Lannister"
        name="signupFullName" />
    <br />

    <label for-"email-input"> Email Adress </label>
    <input id="emails-input" type="email" placeholder="e.g tyrion@lannister.com"
        name="signupEmail" />
    <br />

    <label for="password-input"> Password </label>
    <input id="password-input" type="password" placeholder="e.g. killedMyDad.1"
        name="signupPassword" />
    <br />

  <button> Sign Up </button>
</form>
