<div class="space">

</div>

<div class="resume">
  <h1> My Resume </h1>

  <p>
    You can download my resume for your reference and I hope that
    we will meet very soon!
  </p>
  <div class="download">
    <a href="images/Jesus-Bordones-CV.pdf" download> Download Resume </a>
  </div>

  <h1 class="size"> 229kb </h1>
</div>

<div class="space-resume">

</div>
