<%# <div class="working">
  <h1> Work in Progress </h1>

  <img src="images/working-man.png"/>
</div> %>

<div class="space">

</div>

<h1 class="personal"> Technical Skills </h1>

  <div class="skills">
    <div class="html circle">
      <h3 class="circle-text">HTML</h3>
    </div>

    <div class="css circle">
      <h3 class="circle-text">CSS</h3>
    </div>

    <div class="javascript circle">
      <h3 class="circle-text">JavaScript</h3>
    </div>

    <div class="angular circle">
      <h3 class="circle-text">Angular2</h3>
    </div>

    <div class="express circle">
      <h3 class="circle-text">Express.js</h3>
    </div>

    <div class="mongo circle">
      <h3 class="circle-text">MongoDB</h3>
    </div>

    <div class="node circle">
      <h3 class="circle-text">Node.js</h3>
    </div>

    <div class="ajax circle">
      <h3 class="circle-text">AJAX</h3>
    </div>

    <div class="jquery circle">
      <h3 class="circle-text">jQuery</h3>
    </div>

    <div class="git circle">
      <h3 class="circle-text">Git</h3>
    </div>


  </div>




<div class="space-skills">

</div>
