<%# <div class="working">
  <h1> Work in Progress </h1>

  <img src="images/working-man.png"/>
</div> %>


<div class="space">

</div>
<h2 class="personal"> Personal Proyects </h2>
<div class="container">
  <div class="work">
    <h3> Ironkick Challenge </h3>
    <a href="https://chu13.github.io/Ironkick/index.html" target="_blank" >
      <img src="images/Ironkick.png" alt="Ironkick Challenge" />
    </a>
  </div>

  <div class="work">
    <h3> TravelOG </h3>
    <a href="https://fast-reaches-92965.herokuapp.com/" target="_blank">
      <img src="images/travelog.png" alt="TravelOG" />
    </a>
  </div>

  <div class="work">
    <h3> Footballer </h3>
    <a href="http://www.myfootballer.co/" target="_blank">
      <img src="images/footballer.png" alt="Footballer"/>
    </a>
  </div>
</div>

<div class="space-work">

</div>
